@import url("https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "M PLUS 2", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 20px 40px;
  font-size: 20px;
  background-color: blue;
  color: #fff;
  border: none;
  outline: none;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  cursor: pointer;
}

.message {
  padding: 19px 60px;
  position: fixed;
  top: 20px;
  right: 105px;
  background-color: chocolate;
  border-radius: 3px;
  color: #fff;
  animation: slidein 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slidein {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.message::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  animation: time 3s forwards;
}
@keyframes time {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
